<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=QUANLYKAMINOHEALTHCARE;encrypt=true;trustServerCertificate=true;</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">sapassword</property>

        <property name="hibernate.connection.pool_size">1</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="com.example.entity.KhachHang"/>
        <mapping class="com.example.entity.SanPham"/>
        <mapping class="com.example.entity.TaiKhoan"/>
        <mapping class="com.example.entity.CaLam"/>
        <mapping class="com.example.entity.DonThuoc"/>
        <mapping class="com.example.entity.DonViQuyDoi"/>
        <mapping class="com.example.entity.KhuyenMai"/>
        <mapping class="com.example.entity.Lo"/>
        <mapping class="com.example.entity.NhanVien"/>
        <mapping class="com.example.entity.HoaDon"/>
        <mapping class="com.example.entity.ChiTietHoaDon"/>
        <mapping class="com.example.entity.QuaTang"/>
        <mapping class="com.example.entity.SuPhanBoLo"/>

    </session-factory>
</hibernate-configuration>
